@import 'src/components/app/variables';

.tabs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}

.btn:first-child {
  border-radius: 10px 0px 0px 10px;
  border: 1px solid $lightBlue;
  border-right: none;
}

.btn:nth-child(2) {
  border-top: 1px solid $lightBlue;
  border-bottom: 1px solid $lightBlue;
  border-left: 1px solid $lightBlue;
}

.btn:last-child {
  border-radius: 0px 10px 10px 0px;
  border: 1px solid $lightBlue;
}

.btn {
  width: 33.33%;
  border: none;
  color: $fontColor;
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
  background-color: $white;
  text-transform: uppercase;
}

.btn.active {
  color: $white;
  background-color: $blue;
  border: 1px solid $blue;
}

.btn.active + .btn {
  border-left: none;
}
