@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:wght@600&display=swap');

$white: #fff;
$backgroundColor: #f3f7fa;
$lightBlue: #dfe5ec;
$ticketHeadlinesColor: #a0b0b9;
$blue: #2196f3;
$fontColor: #4a4a4a;

$fontFamily: 'Open Sans', sans-serif;
$fontSize: 12px;
