@import 'src/components/app/variables';

.btn {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: $fontSize;
  line-height: 20px;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-family: $fontFamily;
  color: $white;
  background-color: $blue;
  cursor: pointer;
}

.noTicketsMessage {
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: $fontFamily;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 0 auto;
  color: $fontColor;
}
